/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
*.swp
*.swo
/spec/fixtures/dummy/db/*.sqlite3
/spec/fixtures/dummy/db/*.sqlite3-*
/spec/fixtures/dummy/log/*.log
/spec/fixtures/dummy/storage/
/spec/fixtures/dummy/tmp/
